#navigation
alias fff="cd ~/Code "

#rails/docker
alias dails='docker compose exec web rails'
alias dcr='docker compose exec web'

# color ls
colorflag="-G"
alias ls="command ls ${colorflag}"
alias l="ls -lF ${colorflag}" # all files, in long format
alias la="ls -laF ${colorflag}" # all files inc dotfiles, in long format
alias lsd='ls -lF ${colorflag} | grep "^d"' # only directories

# misc
alias sudo='sudo ' # allow aliases to be sudo'ed
